<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
  
    <add name="DefaultConnection"
         connectionString="Server=162.222.225.88;Database=baseTestes;User Id=bastos;Password=P@pai##123;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>   
    <authentication mode="None" />  
    <compilation debug="true" targetFramework="4.8" />  
    <sessionState mode="InProc" timeout="20" /> 
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="WebServiceHandlerFactory-Integrated" path="*.asmx"
           verb="*" type="System.Web.Script.Services.ScriptHandlerFactory"
           resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
